[Unit]
Description=Jellyfin guitar

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/jellyfin --configdir /home/romain/.config/guitar
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="JELLYFIN_DATA_DIR=/home/romain/.local/share/guitar"

[Install]
WantedBy=default.target
