[Unit]
Description=Stash server

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/home/romain/.stash
ExecStart=/home/romain/.local/bin/stash-linux-arm64v8 --config /home/romain/.stash/config.yml --nobrowser
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/home/romain/.local/bin"
User=romain
Group=romain

[Install]
WantedBy=default.target
